<template name="cardsetInfoBoxItemBonusWorkingTimeArithmeticMean">
    {{#if this.learningActive}}
        <tr>
            <td>{{_ "learningHistory.stats.duration.workingTime.arithmeticMean"}}:</td>
            <td>{{getBonusWorkingTimeArithmeticMean}}</td>
        </tr>
    {{/if}}
</template>
